/**************** POP-UP ****************/
/* Written by Justin Macapanpan */
#pop-up {
    display: none;
  
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
  
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }

  #pop-up-header {
    width: 100%;
    min-height: 48px;
  }
  #exit:hover {
    color: rgba(0, 0, 0, 1);
    transition: color 0.5s;
  }
  #exit {
    color: rgba(122, 122, 122, 1);
    transition: color 0.5s;
    float: right;
  }
  #pop-up-content h3 {
    margin: auto 20px 5px 20px;
    text-align: center;
    font-size: 25pt;
    padding-bottom: 10px;
  }