
#search-form {
    border: none;
    width: 95%;
    margin: 0 auto;
    text-align: center;
    background-color: aqua;
}

div.card {
    padding-top: 10px;
    border: 2px black;
    background-color: whitesmoke;
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}
label.form-control {
    text-align: left;
}
div.card-holder {
    width: 100%;
}