/*
	Missouri COVID-19 Vaccine Tracker Application 
	Filename: style.css

	Team: Turtle Shell Development
	Authors: Katherine Geist (KSG), Justin Macapanpan (JJM), Jasmin Milicevic (JM)
	Date: 19 Sept 2022 
 
	Supporting files: scripts.js, index.html
	
 */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("../global/colors.css");

