/**************** DASHBOARD STYLES ****************/
/* Written by JJM */

.dash-header{
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #003366;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .dashboard{
    position: relative;
    margin-top: 50px;
    margin-left: 190px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  .dashboard a{
    position: relative;
    height: 10px;
    width: 10px;
    padding: 20px 20px 20px 20px;
    background-color: #003366;
    color: #fff;
  }

  button {
    /*margin-left: 10px;*/
  }

  