/**************** DASHBOARD STYLES ****************/
/* Written by JJM */

.dash-header{
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #003366;
    margin-top: 2%;
    margin-bottom: 2%;
  
  }
  
  .dashboard{
    
    position: relative;
  
  }
  
  .dashboard a{
    position: relative;
    height: 10px;
    width: 10px;
    margin-left: 15%;
    padding: 20px 20px 20px 20px;
    background-color: #003366;
    color: #fff;
  }