@import url("/assets/css/patient_records/add.css");


#userCreateForm {
    margin: 0 auto;
    width: 750px;
}

#inputs-bg {
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}