<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add New Patient Vaccine Record</title>
    <!-- Missouri COVID-19 Vaccine Tracker Application Filename: index.html Team: Turtle Shell
        Development Authors: Katherine Geist Date: 13 Oct 2022 -->

    <meta charset="utf-8">

    <!-- ======== EXTERNAL SCRIPTS ========================= -->
    <link rel="stylesheet" href="/assets/css/patient_records/add.css">
    <script src="/assets/js/add_record.js" defer></script>
    <script src="/assets/js/patient_records/print_VIS.js" defer></script>
    <script src="/assets/js/modernizr.custom.40753.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</head>


<body id="add_record_body">
    <!-- ======== HEADER ========================= -->
    <!-- Written by KSG -->
    ${header}

	<h2 class="pageName">Enter New Patient Record:</h2>
	
    <!-- ======== PATIENT INPUT FORM ========================= -->
    <!-- Written by KSG -->
    <form action="AddRecord" method="POST">
        <fieldset class="form-control">
            <legend>DATE GIVEN</legend>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">Date</span>
                <input type="date" class="form-control" aria-describedby="basic-addon2" name="curr-date" id="date-input"
                    readonly required="required">
            </div>
        </fieldset>
        <fieldset class="form-control">
            <legend>PATIENT RECEIVING VACCINE</legend>
            <div>
                    <label for="dob">DOB</label>
                   		<input type="date" id="dob" name="dob" class="form-control">
                <div>
                    <label for="lname">Last Name
                    	<input type="text" id="lname" name="lname" class="form-control name-fields">
                    </label>
                    <label for="fname">First Name
                        <input type="text" id="fname" name="fname" class="form-control name-fields">
                    </label>
                    <label for="mname">Middle Name
                        <input type="text" id="mname" name="mname" class="form-control name-fields">
                    </label>
                </div>
                <div class="field-flex">
                    <!-- Dropdown for Sex Identuty -->
					<label for="sex">Sex Identity
						<select id="sex" name="sex" class="form-select">
							<option value="Female">Female</option>
							<option value="Male">Male</option>
							<option value="Non-Binary">Non-Binary</option>
						</select>
					</label>
                    <label for="ss4">Last 4-digits SSN
                        <input type="text" id="ss4" name="ss4" class="form-control" maxlength="4">
                    </label>

				</div>
            </div>
        </fieldset>
        <br>
        <fieldset class="form-control">
            <legend>CONTACT INFORMATION</legend>
            <div>
                <label for="address">Street Address</label>
                <input type="text" id="address" name="address" class="form-control">
                <div>
					<label for="city">City
					<input type="text" id="city" name="city" class="form-control address-fields">
					</label>
					<label for="zip">Zipcode
					<input type="text" id="zip" name="zip" class="form-control address-fields">
					</label>
                </div>
                <div class="field-flex">
                    <!-- Dropdown for Phone Type -->
                    <label for="phoneType">Phone Type
                        <select id="phoneType" name="PhoneType" class="form-select">
                            <option value="Home">Home</option>
                            <option value="Mobile">Mobile</option>
                            <option value="Work">Work</option>
                        </select>
                    </label>
                    <label for="phone">Phone Number
                        <input type="text" id="phone" name="phone" class="form-control">
                    </label>
                    <label for="email">Email Address
                        <input type="email" id="email" name="email" class="form-control">
                    </label>
                    <br>
                </div>
            </div>
        </fieldset>
        <br>
        <fieldset class="form-control">
            <legend>INSURANCE INFORMATION</legend>
            <div>
                <div class="input-group">
					<span class="input-group-text" id="insProvider">Provider</span>
                	<input type="text" id="insProvider" name="insProvider" class="form-control" aria-describedby="insurance">
				</div>
				<br>
				<div class="field-flex">
					<div class="input-group">
						<span class="input-group-text" id="insGroup">Group #</span>
						<input type="text" id="insGroup" name="insGroup" class="form-control" aria-describedby="insurance">
					</div>
					<div class="input-group">
						<span class="input-group-text" id="insPolicy">Policy #</span>
						<input type="text" id="insPolicy" name="insPolicy" class="form-control" aria-describedby="insurance">
					</div>
				</div>
            </div>
        </fieldset>
        <br>
        <fieldset class="form-control">
            <legend>VACCINE ADMINISTERED</legend>
            <div>
                <p>Current COVID-19 Vaccine Dosing Schedule (All Manufacturers)</p>
                <iframe id="dose_schedule" title="COVID-19 Dose Schedule as of Oct 2022" height="300" width="720"
                    src="https://www.cdc.gov/vaccines/covid-19/downloads/COVID-19-immunization-schedule-ages-6months-older.pdf"
                    tabindex="-1">
                </iframe>
                <br><br>
                <!-- Vaccine Manufacturer Radio Button -->
                <div class="input-group" role="group">
					 <label for="vaxMan">Manufacturer:</label>
                    <div class="field-flex">
<!--                     <span class="input-group-text" id="basic-addon1">Vaccine Manufacturer</span> -->
						<input type="radio" id="pfizer" name="vaxMan" value="pfizer" class="vaxMan btn-check" aria-describedby="basic-addon1">
						<label for="pfizer" class="vaxMan-label btn btn-primary">Pfizer-BioNTech</label><br>
						<input type="radio" id="moderna" name="vaxMan" value="moderna" class="vaxMan btn-check" aria-describedby="basic-addon1">
						<label for="moderna" class="vaxMan-label btn btn-primary">Moderna</label><br>
						<input type="radio" id="janssen" name="vaxMan" value="janssen" class="vaxMan btn-check" aria-describedby="basic-addon1">
						<label for="janssen" class="vaxMan-label btn btn-primary">Johnson & Johnson’s Janssen</label><br>
						<input type="radio" id="novavax" name="vaxMan" value="novavax" class="vaxMan btn-check" aria-describedby="basic-addon1">
						<label for="novavax" class="vaxMan-label btn btn-primary">Novavax</label>
					</div>
                </div>
                <!-- Vaccine Lot Number -->
                <br>
                <div class="input-group">
                    <span class="input-group-text" id="lot-num-addon">Lot Number</span>
                    <input type="text" id="lotNumber" name="lotNumber" class="form-control"
                        aria-describedby="lot-num-addon">
                </div>
                <br>
                <!-- Dropdown for Vax Dose -->
                <div class="input-group" role="group">
                    <span class="input-group-text">Vaccine Series Dose</span>
                    <select id="dose" name="dose" class="form-select">
                        <option value="invalid" selected>Select Dose</option>
                        <option value="adDose1">Adult (18+) Primary Series, Monovalent Dose 1</option>
                        <option value="adDose2">Adult (18+) Primary Series, Monovalent Dose 2</option>
                        <option value="adBooster1">Adult (18+) Booster, Monovalent Dose 3 </option>
                        <option value="adBooster2">Adult (18+) Booster, Monovalent Dose 4</option>
                        <option value="adBoosterBiv">Adult (18+) Booster, Bivalent Dose 5</option>

                        <option value="teenDose1">Teen (12-17) Primary Series, Monovalent Dose 1</option>
                        <option value="teenDose2">Teen (12-17) Primary Series, Monovalent Dose 2</option>
                        <option value="teenBooster1">Teen (12-17) Booster, Monovalent Dose 3</option>
                        <option value="teenBoosterBiv">Teen (12-17) Booster, Bivalent Dose 4</option>

                        <option value="chDose1">Child (5-11) Primary Series, Monovalent Dose 1</option>
                        <option value="chDose2">Child (5-11) Primary Series, Monovalent Dose 2</option>
                        <option value="chBooster1">Child (5-11) Booster, Monovalent Dose 3</option>
                        <option value="chBoosterBiv">Child (5-11) Booster, Bivalent Dose 4</option>

                        <option value="infDose1">Young Child (6mos-4) Primary Series, Monovalent Dose 1</option>
                        <option value="infDose2">Young Child (6mos-4) Primary Series, Monovalent Dose 2</option>
                        <option value="infBooster1">Young Child (6mos-4) Booster, Monovalent Dose 3</option>
                    </select>
            </div>
                <br>

                <div class="btn-group" role="group">
                   		<input type="radio" id="english" name="lang" value="english" class="lang btn-check" checked>
                    	<label for="english" class="lang-button btn btn-outline-secondary" >English</label><br>
                    	<input type="radio" id="spanish" name="lang" value="spanish" class="lang btn-check">
                    	<label for="spanish" class="lang-button btn btn-outline-secondary">Espa&ntilde;ol</label>
                </div>
                	    <button type="button" class="print-button btn btn-primary">Print Vaccine Information Sheet</button>
                <!--  Print Vaccine Information Sheet (VIS)	 -->

                <!-- for debugging -->
                <!-- 
						<br>
						<br>
						<p> The value of dose: <span class="vax"></span> </p>
						<p> The value of manufacturer is: <span class="manu"></span> </p>
						<p> The language is: <span class="language"></span> </p>
 -->
            </div>
        </fieldset>
        <br>
        <div class="text-center">
			<input type="submit" value="Submit" class="submit-button btn btn-dark btn-lg">
		<div>
        <br>
        <br>
    </form>
    <br>
    <!-- ============================================================================ -->
    <!-- ======== FOR ALL PAGES ========================= -->

    <!-- ======== HELP POPUP BUTTON ========================= -->
    <!-- Written by JM -->
    <div>
        <div class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <p>Please contact the Missouri IIS for assistance!</p>
                <p>Phone: XXX-XXX-XXXX</p>
                <p>Email: helpme@missouri.gov</p><br>
            </div>
        </div>
    </div>


</body>