<!DOCTYPE html>
<html>
    <head><title>Error ${error_code}</title></head>
    <body>
    ${header}
    <div id="error">
        <h1>Error ${error_code}</h1>
        <h2>${error_message}</h2>
    </div>
    </body>
</html>