/* WIP styles
JJM*/
html{
    /* background-color: blue;  */
   /* display: inline-block; */
}
body#add_record_body {
    /* border: 8px solid #000; */
    margin: 0 auto;
    /* max-width: max-content;  */
    background-color: whitesmoke;
    /* border: 8px solid #000; */
    /* width: 0px; */

}

fieldset.form-control {
    background-color: #003366;
    color: black;
    padding: 0;
}
fieldset.form-control legend {
    color: white;
    padding-left: 10px;
}
fieldset.form-control > div {
    padding: 13px;
    margin-top: 20px;
    background-color: white;
    border-radius: 0 0 .375rem .375rem;
}

body form{
    /* border: 1px solid #003366; */
/* background-color: blue;     */
    
}
/*########################################*/
input[type="text"] {
    width: 50px;
    height: 40px;
}
input[type="date"] {
    width: 180px;
    height: 40px;
}
form {
    padding-top: 50px;
    width: 750px;
    margin: 0 auto;
}
div.field-flex {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    flex-wrap: nowrap;
}
fieldset {
    margin: 10px;
}
input.name-fields {
    display: flex;
    width: 230px;
}
input.address-fields {
    display: flex;
}
input[type="text"]#city {
    width: 500px;
}
input[type="text"]#zip {
    width: 100px;
}
input[type="text"]#ss4 {
    width: 95px;
}
input[type="text"]#lotNumber {
    width: 50;
}
input[type="text"]#address {
    width: 712px;
}
input[type="email"]#email {
    min-width: 440px;
}
input[type="text"]#phone {
    width: 150px;
}
input[type="submit"]#btn-secondary {
    margin: 0 auto;
    width: 100px;
}
label.btn-primary {
	background: ghostwhite;
	color: #000;    
}
button.btn-primary {
	background: ghostwhite;
	color: #000;   
}
div.poop{
	width:100%;
}
.submit-button.btn-dark{
    text-align: center !important;
    margin: 0 auto;
}