/* Add New Record & Next Dose Styles
Written by: JJM, CK, & KSG*/

/* Note: using Bootstrap */

body#add_record_body {
    margin: 0 auto;
    background-color: whitesmoke;
}
fieldset.form-control {
    background-color: #003366;
    color: black;
    padding: 0;
}
fieldset.form-control legend {
    color: white;
    padding-left: 10px;
}
fieldset.form-control > div {
    padding: 13px;
    margin-top: 20px;
    background-color: white;
    border-radius: 0 0 .375rem .375rem;
}
h2.pageName{
  	color: #3d434a;
  	text-align: center !important;
}
/*########################################*/
input[type="text"] {
    width: 250px;
    height: 40px;
}
input[type="date"] {
    width: 180px;
    height: 40px;
}
form {
    padding-top: 50px;
    width: 750px;
    margin: 0 auto;
}
div.field-flex {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    flex-wrap: nowrap;
}
fieldset {
    margin: 10px;
}
input.name-fields {
    display: flex;
    width: 230px;
}
input.address-fields {
    display: flex;
}
input[type="text"]#city {
    width: 500px;
}
input[type="text"]#zip {
    width: 100px;
}
input[type="text"]#ss4 {
    width: 95px;
}
input[type="text"]#lotNumber {
    width: 500;
}
input[type="text"]#address {
    width: 712px;
}
input[type="email"]#email {
    min-width: 440px;
}
input[type="text"]#phone {
    width: 150px;
}
label.btn-primary {
	background: ghostwhite;
	color: #000;    
}
button.btn-primary {
	background: ghostwhite;
	color: #000;   
}
input:invalid, select:invalid, .vaxMan-label:required {
    border-color: red;
}