/* WIP styles
JJM*/
html{
    /* background-color: blue;  */
   /* display: inline-block; */
}
body#add_record_body {
    /* border: 8px solid #000; */
    margin: 0 auto;
    /* max-width: max-content;  */
    background-color: whitesmoke;
    /* border: 8px solid #000; */
    /* width: 0px; */

}

.form-control legend{
    background-color: #003366;
    color: white;
}

body form{
    border: 1px solid #003366;
/* background-color: blue;     */
    
}
/*########################################*/
input[type="text"] {
    width: 50px;
}

form {
    padding-top: 50px;
    width: 750px;
    margin: 0 auto;
}

div.field-flex {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 10px;
    flex-wrap: nowrap;
}
fieldset {
    margin: 10px;
}
input.name-fields {
    display: flex;
    width: 200px;
}
#ss4 {
    width: 95px;
}
#dob {
    width: 147px;
}
#lotNumber {
    width: 100px;
}
#date-input {
    max-width: 275px;
}